*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#0d1725;
    padding-top: 90px;
    height: 200px;
}

/* navbar */
#main-header{
    background-color: rgb(35, 59, 79);
    color: rgb(218, 214, 214);
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
}

/* .right-section{
    width: 30%;
    margin-left: 50px;
} */

/* .left-section{
    flex: 1;
    margin-left: 50px;
} */
.logo{
    width: 60px;
    margin-left: 70px;
}

#main-header ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}
/* .navbar{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
} */

li{
    padding: 20px;
}

 li:hover{
     background-color: #0d1725;
     cursor: pointer;
 }
/* intro session */

#intro-section{
    width: 80%;
   margin: auto;
}

.top-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.author{
    display: flex;
    flex-direction: column;
}

/* author image */
.author-img{
    border: 5px solid rgb(89, 123, 151);
    height: 400px;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
}


.name{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 60px;
    color: rgb(189, 208, 223);
}

.info-heading{
    font-size: 20px;
    font-weight: 200;
    color: rgb(89, 123, 151);
}

.btn{
    text-decoration: none;
    background-color: rgb(89, 123, 151);
    color: #fff;
    padding: 10px;
    display:inline-block;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    width: 40%;
    text-align: center;
}

.btn:hover{
    color: rgb(89, 123, 151);
    background-color: #090e15;
}
/* social links */
/* .social-links{
   margin-top: 10px;
   margin-left: -25px;   
} */

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.s-link:hover{
    width: 35px;
    /* margin-left: -10px; */
}

.img-style{
    border-radius: 10px;
    margin-top: -15px;
    margin-left: -15px;
}

/* About section */
#about-section{
    width: 80%;
   margin: auto;
   padding-top: 60px;
}

.middle-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about{
    width: 700px;
    display: flex;
    flex-direction: column;
    flex: 1ß;
    align-items: center;
}

/* .about-info{
    margin-bottom: 10px;
    padding: 0px;
} */

h3{
    color: rgb(89, 123, 151);
    font-size: 40px;
}

.about{
    color: rgb(189, 208, 223);
    font-size: 16px;
    /* justify-content: center; */
    line-height: 20px;
}

.btn-1{
    text-decoration: none;
    background-color: rgb(89, 123, 151);
    color: #fff;
    padding: 10px;
    display:inline-block;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    width: 15%;
    text-align: center;
}

.btn-1:hover{
    color: rgb(89, 123, 151);
    background-color: #090e15;
}
/* Services section */
#services-section{
    width: 80%;
   margin: auto;
   padding-top: 90px;
}

.services{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-content{
        color: rgb(189, 208, 223);
        font-size: 16px;
        justify-content: center;
        line-height: 30px;
}

#service-list{
    width: 80%;
   margin: auto;
   padding-top: 90px;
}

.services-offer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-top: 20px;
}

.consultation, .proposal, .launch, .app-dev{
    height: 300px;
    width: 200px;
    background-color: rgb(35, 59, 79);
    align-content: center;
    border: none;
    border-radius: 10px;
}

.consultation:hover{
    background-color: rgb(89, 123, 151);
    height: 310px;
    width: 205px;
}
.proposal:hover{
    background-color: rgb(89, 123, 151);
    height: 310px;
    width: 205px;
}
.launch:hover{
    background-color: rgb(89, 123, 151);
    height: 310px;
    width: 205px;
}
.app-dev:hover{
    background-color: rgb(89, 123, 151);
    height: 310px;
    width: 205px;
}

h4{
    color: rgb(189, 208, 223);
    text-align: center;
    margin-top: 15px;
}

p{
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    padding: 10px 5px
}

p:hover{
    font-weight: 500;
}

/* latest-work section */

#work-section{
    width: 80%;
   margin: auto;
   padding-top: 90px;
}

.website, .iOS-app, .Android-app{
    height: 350px;
    width: 300px;
    background-color: rgb(149, 175, 55);
    align-content: center;
    border: none;
    border-radius: 10px;
}

#footer{
    width: 80%;
    margin: auto;
    padding-top: 90px;
}

#footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px)